@tailwind base;
@tailwind components;
@tailwind utilities;

@import './styles/create';
body{
  background-color: black;
  width: 100vw;
  height: 100vh;
  .container{
    width:40%;
    height: 100%;
    margin: 0 auto;
    overflow-y: hidden;
    background-color: rgba(255, 255, 255, 0.834);
    @media(max-width: 968px){
      width: 100%;
      padding: 0;
    }
    .categoryMen {
      padding: .1rem .5rem;
      @media(max-width: 968px){
        padding: .5rem 1rem;
      }
      .rightNav{
        .homeIcon{
          border: 1px solid black;
        }
      }
      .homeIcon{
        border: 1px solid black;
      }
    }
    .categorybody{
      padding: .1rem .5rem;
      height: 71%;  
      @media(max-width: 968px){
        height:70%;
        padding: .5rem 1rem;
      }
      .Categorycard{
        .card{
          align-items: center;
          border: 1px solid black;

        }
      }
    }
    .footer-menu{
      background-color: rgba(132, 104, 132, 0.312);
      color: white;
      padding: 1rem;
      width: 100%;
      .leftFooter{
        position: relative;
        .searchIcon{
          font-size: 2rem;
          color: black;
          position: absolute;
          left: 3.4rem;
          
          @media(max-width: 968px){
            font-size: 1.5rem;
            top: .3rem;
          }
        }
        input{
          padding: 0 2rem;
          width: auto;
          border: none;
          background-color: #BBB3BB;
          border-bottom: 1px solid rgb(8, 5, 5);
          @media(max-width: 968px){
            width: 170px;
          }
        }
      }
      
      .form{
        width: 70%;
      }
    }
  }
}