@tailwind base;
@tailwind components;
@tailwind utilities;


body{
  background-color: black;
  width: 100vw;
  height: 100vh;
  .container{
    width:40%;
    height: 100%;
    margin: 0 auto;
    // padding: .7rem ;
    overflow-y: hidden;
    background-color: rgba(255, 255, 255, 0.834);
    @media(max-width: 968px){
      width: 100%;
      padding: 0;
    }
    .categoryMen {
      padding: .1rem .5rem;
      @media(max-width: 968px){
        padding: .5rem 1rem;
      }
      .rightNav{
        .homeIcon{
          border: 1px solid black;
        }
      }
      .homeIcon{
        border: 1px solid black;
        
      }
    }
    .categorybody{
      padding: .1rem .5rem;
      height: 71%;  
      @media(max-width: 968px){
        height:70%;
        padding: .5rem 1rem;
      }
      .Categorycard{
        .card{
          border: 1px solid black;

        }
      }
    }
    .footer-menu{
      background-color: rgba(128, 0, 128, 0.312);
      color: white;
      padding: 1rem;
    }
  }
}